@import "tailwindcss";
@import "./styles/landingPage.css";
@import "./styles/auth.css";

/* Global fonts */
@font-face {
  font-family: "Pixel Game";
  src: url("./assets/fonts/pixel-game.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixel Game Extrude";
  src: url("./assets/fonts/pixel-game.extrude.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Global layout reset */
html {
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative !important;
  background: url("./assets/images/background.jpg") center/cover no-repeat fixed;
}

#app {
  width: 100%;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}