@import "tailwindcss";

@font-face {
  font-family: "Pixel Game";
  src: url("./assets/fonts/pixel-game.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixel Game Extrude";
  src: url("./assets/fonts/pixel-game.extrude.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  @apply overflow-x-hidden max-w-[100vw] w-full h-full;
}

body {
  @apply overflow-x-hidden max-w-[100vw] w-full min-h-full m-0 p-0 relative;
  background: url("./assets/images/background.jpg") center/cover no-repeat fixed;
}

#app {
  @apply w-full min-h-screen;
}